<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8" />
    <meta
    http-equiv="Content-Security-Policy"
    content="script-src 'self' 'unsafe-inline'"
  />  </head>
  <body>
    <div id="croot"></div>
  </body>
</html>
